# This is the defualt configurations for Ephemeral's configurations. Feel free to modify these but DO NOT commit them
MASQR=false
PORT=8080
MAINTAINER_EMAIL=tgt@incognitotgt.me
LICENSE_SERVER_URL=https://example.com/validate?license=
WHITELISTED_DOMAINS = ["ephemeral.lol", "localhost:8080"]
