@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("/node_modules/geist/dist/fonts/geist-sans/Geist-Light.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("/node_modules/geist/dist/fonts/geist-sans/Geist-Regular.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("/node_modules/geist/dist/fonts/geist-sans/Geist-Medium.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("/node_modules/geist/dist/fonts/geist-sans/Geist-SemiBold.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("/node_modules/geist/dist/fonts/geist-sans/Geist-Bold.woff2")
    format("woff2");
  font-display: swap;
  font-weight: 700;
}
