@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist-Light.woff2') format('woff2');
	font-weight: 300;
}
@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist-Regular.woff2') format('woff2');
	font-weight: 400;
}
@font-face {
	font-family: 'Geist';
	src: url('/fonts/Geist-Bold.woff2') format('woff2');
	font-weight: 700;
}
