:root {
    --primary-colour: #888888;
    --secondary-colour: #aaaaaa;
    --tertiary-colour: #666666;
    --text-colour: #dddddd;
    --font: 'Courier New', Courier, monospace;
}

body {
    background-color: var(--secondary-colour);
    color: var(--text-colour);
    font-family: var(--font);
    font-size: 16px;
}

.noborder {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#navbar {
    left: 0;
    right: 0;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
  
#navbar li {
    float: left;
}

.right {
    float: right;
}

#navbar li a {
    text-decoration: none;
}
  
.navbaritem {
    background-color: var(--primary-colour);
    display: block;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    width: 100px;
}
  
.navbaritem:hover {
    background-color: var(--navbar-tertiary-colour);
}

#current {
    background-color: var(--navbar-tertiary-colour);
}

#settings {
    position: fixed;
    left: 20px;
    top: 60px;
}